body{
    text-align: center;
    max-width: 400px;
    margin: 0 auto;
    background-color: rgb(75, 194, 241);
}
h1{
    color: white;
}
#nelson_name{
    color: white;
    font-weight: bold;
}
.small_quote{
    color: white;
}
p{
    font-family: 'Times New Roman', Times, serif;
}
ol{
    text-align: left;
    font-weight: bold;
}
.portrait{
    width: 200px;
}
.quote{
    color: white;
    font-size: 32px;
}

