body {
    margin: 0;
    background-color: grey;
}
#hero {
    width: 100%;
}
.circle {
    border-radius: 50%;
    border: solid, darkslategrey,10px;
    width: 300px;
    margin: 15px;
}
footer {
    background-color: grey;
}
.evenly_spaced {
    display: flex;
    justify-content: space-evenly;
}
